sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '5'
before_install:
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
script:
  - npm run update-tips
  - npm run test
after_success:
branches:
  except:
    - /^v\d+\.\d+\.\d+$/